@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --btn-bg-primary: rgb(63,94,251);
    --btn-border-primary: #3a92f7;
    --btn-font-family: "Montserrat", sans-serif;
    --body-font-family: "Lato", sans-serif;
    --btn-bg-dark: #000;
    --star-raing-color: #3a92f7;
}

body{
    font-family: var(--body-font-family);
}

.header{
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(0,0,97,1) 70%);
}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: flex-start
}

.back-stars {
    display: flex;
    color: #ccc;
    position: relative
}

.front-stars {
    display: flex;
    color: var(--star-raing-color);
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .5s
}

.percent {
    color: #bb5252;
    font-size: 1.5em
}
.btn-primary{
    font-family: var(--btn-font-family);
    background-color: var(--btn-bg-primary);
    border-color: var(--btn-border-primary);
}
.btn-primary:hover{
    background-color: var(--btn-bg-dark);
    border-color: var(--btn-bg-dark);
}

.heading{
    font-size: 18px;
    font-family: var(--body-font-family);
    font-weight: 700;
}

.heading a{
    font-size: 18px;
    font-family: var(--body-font-family);
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
header {
    position: sticky;
    top: 0;
    z-index: 1050;  /* Ensure the header stays above other content */
     /* background-color: #fff; Optional: background color to prevent transparency issues */
}
.navigation a{
    font-size: 20px;
    text-decoration: none;
}

.sidebar .nav li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--btn-bg-dark);
}

.sidebar .nav li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.sidebar .nav li:last-child{
    border-bottom: none;
}

.card-header{
background-image: radial-gradient(circle, #051021, #00153b, #001854, #00166c, #000b81);
    font-size: 18px;
}
.card-header:hover{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(0,0,97,1) 70%);    font-size: 18px;
}
.content{
    font-size: 16px;
    font-family: var(--btn-font-family);
    font-weight: 500;
}
/* rating bar */
.rating-slider {
    display: flex;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #3f5efb;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3f5efb;
    cursor: pointer;
    border-radius: 50%;
}

output {
    font-size: 1.2rem;
}
button.btn.btn-transparent.text-light.dropdown-toggle{
    border: none;
}
ul.dropdown-menu {
    li a{
    font-size: 16px;
    }
}
a{
    cursor: pointer;
    text-decoration: none;
}
.card-img-top {
    min-height: 350px;
}
.card-book {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body-book {
    flex-grow: 1;
}
.card-book-suggest{

}